<% plays ||= [] %>

<table id='table-listing' class="table">
	<thead>
	 	<tr>
		  <th>Count Value</th>
		  <th>Img</th>
		</tr>
	</thead>
	<tbody>
		<% plays.each do |play| %>
			<%= render partial:'table_row', locals: {play:play} %>
		<% end %>
	</tbody>
</table>