
<div id='game-container'>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'table', locals: {plays: @plays} %>
    </div>
    <div class="col-md-6">
      <h1 id='counter'></h1>
      <div id='images-urls' data-urls="<%= @images.join('|')%>"></div>
      <img src='' id='target-img' width="100" height="100" style="display:none;">
      <hr>
      <%= link_to 'Toggle Image', '', id:'capture', class:'btn btn-danger' %>
      <hr>
    </div>
  </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded', function(){
    new Manager(); // found in manager.js
  });

</script>