<%= form_with(model: image||Image.new, local: true, id:'form-image-create') do |form| %>
  <div class="actions">
    <div class="form-group">
      <%= form.file_field :uploads,id:'upload-file', multiple: true, class: "form-control", required:true %>
    </div>
    <%= form.submit %>
  </div>
<% end %>

<br>
<br>
