<% image.uploads.each do |upload| %>
	<% if upload.variable? %>
	  <%= image_tag upload.variant(resize: "100x100") %>
	<% elsif upload.previewable? %>
	  <%= image_tag upload.preview(resize: "100x100") %>
	<% end %>
<% end %>