<!DOCTYPE html>
<html>
  <head>
    <title>WTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= token_tag nil %>
    <div class="site-wrapper">
      <div class="">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Demo</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="<%= 'active' if current_page?(images_path) %>"><%= link_to 'Images', images_path %></li>
                  <li class="<%= 'active' if current_page?(plays_path) %>"><%= link_to 'plays', plays_path %></li>
                </ul>
              </nav>
            </div>
          </div>
          <br>
          <br>
          <div class="inner cover">
            <%= yield %>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
